<!DOCTYPE html>
<html>
<head>
    <title>Todo | Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method="post" action="/todo">
    <input type="text" name="task"/>
    <button type="submit">Kreiraj novu</button>
</form>
<h1>TODO LIST</h1>
<ul>
    <% for(var i=0; i < taskList.length; i++) { %>
    <li>
        <%= taskList[i] %>
    </li>
    <% } %>
</ul>
<a href="/logout">Logout</a>
</body>
</html>
